@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
	
	background:black;
	color:#EFEFEF;

	font-family: 'quicksandregular', "Helvetica Neue", Arial, sans-serif;
	letter-spacing: 2px;

	overflow: hidden;

	width: 100%;
	height:100%;

	position: absolute;
	margin: 0px;
	padding:0px;

}

* {
	user-select:none;
	-webkit-user-select:none;


}

#siteContainer, #background, #cardContainer {

	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height:100%;

}

#title {
	font-size: 24px;
	width:100%;
	position: absolute;
	top:10px;
	left:0px;
	text-align: center;

}

#listenMessage {

	text-align: center;
	width:100px;
	height:100px;
	position: absolute;
	top:50%;
	margin-top:-50px;
	left:50%;
	margin-left:-50px;

	color:#bcbcbc;

	-webkit-animation:pulseColor 2s infinite ease-in-out;
}

@media(min-width: 400px){


	#cardContainer {

		max-width:400px;
		left:50%;
		margin-left:-200px;

	}

}

@media(max-width: 400px){
	#cardContainer {
		width:80%;
		margin-left:10%;
	}
}


#cardContainer {

	top:45%;
	margin-top: -10%;
	height:20%;
	max-height: 400px;

	-webkit-transition:-webkit-transform .5s;
	-webkit-transform:scale(1);

}

#cardContainer.beat {
	-webkit-transform:scale(1.1);
}



#cardContainer .card {

	width:100%;
	height:100%;

	position: absolute;
	

	text-align: center;

	background:#EFEFEF;

	font-size: 18px;
	letter-spacing: 0.01em;
	color:black;

	border-radius: 10px;

	padding:5%;
	margin-left:-5%;

	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);

	transition: all 0.5s;
	-webkit-transition: all 0.5s;

	opacity: 0;

	margin-top: 100px; 

}

#cardContainer .card.active {
	opacity: 1;
	margin-top: 0px;
}

#cardContainer .card a.control{

	border:none;
	text-decoration: none;
	display: block;

	margin-top:0.5em;
	width:50%;
	height:70%;
	margin-left:auto;
	margin-right:auto;

}

#cardContainer .card a.control.hexButton{

	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	background-image:url('../images/hex-button-normal.svg');
	background-size:50% auto;
	background-position: center center;
	background-repeat:no-repeat;

}

#cardContainer .card .controlsContainer.multi {

	position: absolute;
	top:50%;
	left:0px;
	width:100%;
	height:100%;

	text-align: center;
}



#cardContainer .card a.control.hexButton:active, #cardContainer .card a.control.hexButton:hover{
	background-image:url('../images/hex-button-down.svg');
}



#cardContainer .card a.control.multi {

	display: block;
	width:25%;
	margin:auto;
	padding-top:2%;

	float:left;

	background-image:url('../images/hex-button-narrow.svg');
	background-size:60% auto;
	background-position: top center;
	background-repeat:no-repeat;

	font-size: 19px;
	/*line-height: 53px;*/
}

#cardContainer .card a.control.multi:hover, #cardContainer .card a.control.multi:active  {
	background-image:url('../images/hex-button-narrow-down.svg');


}


#cardContainer .card .multiIdentifier.purple {

	position: absolute;
	width:100%;
	height:100%;
	top:-100%;
	left:0px;


	background-image:url('../images/hex-identifier.svg');
	background-size:30% auto;
	background-position: center center;
	background-repeat:no-repeat;


	-webkit-animation:pulseSize 2s infinite ease-in-out;

}

#cardContainer .card .feedbackElement{

	position: absolute;
	width:100px;
	height:50px;
	font-size: 32px;
	text-align: center;
	top:50%;
	margin-top:-150px;
	margin-left: -50px;
	left:50%;

	color:white;


}

#cardContainer .card .expiryIndicator {

	position: absolute;
	bottom:10%;
	height:5px;
	width: 90%;

	border:1px solid #6b6b6b;

}

#cardContainer .card .expiryIndicator .expiryIndicatorInner {
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:0%;

	-webkit-transition: all 0.1s;
	transition: all 0.1s;

	background: #6b6b6b;
}

#background canvas {
	position: absolute;
	top:0px;
	left:0px;
	
	
}


@-webkit-keyframes pulseColor{
	0% {
		color:#bcbcbc;
	}

	50% {
		color:#454545;
	}

	100% {
		color:#bcbcbc;
	}

}

@-webkit-keyframes pulseSize{
	0% {
		-webkit-transform:scale(1);
	}

	50% {
		-webkit-transform:scale(1.1);
	}

	100% {
		-webkit-transform:scale(1);
	}

}

